PORT=3001
MONGODB_URI=mongodb://admin:changeme@localhost:27017/imageshare?authSource=admin
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
AWS_REGION_KEY=us-east-1
AWS_BUCKET_NAME=your_s3_bucket_name
